.singel-product {
  height: 400px;
  border: 1px solid gray;
  border-radius: 8px;
  /* padding: 20px 0px; */
  position: relative;
}
.singel-product img {
  display: flex;
  margin: 5px auto;
  border-radius: 8px;
}
.product-info {
  margin-top: 30px;
  padding: 0px 20px;
}
.addToCart {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #c52d2f;
  color: white;
  border: 1px solid gray;
}
